/* AdminLogin.css */

.admin-login-container0 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("https://images.pexels.com/photos/10464450/pexels-photo-10464450.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  background-repeat: no-repeat;
}

.admin-login0 {
border-radius: 10px;
  background-color: #8c928f;

  padding: 20px;
  border: 1px solid #120101;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  
  
}

.admin-login0 h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 20px;
  padding-left: 40px;
}

.form-group0 {
  margin-bottom: 15px;
}

labe {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error0 {
  color: rgb(13, 4, 4);
  font-size: 0.875rem;
}

.button {
  display: block;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 5px;
  cursor: pointer;
}

.uuu.button:hover {
  background-color: #0056b3;
}
