/* Add your global styles here if needed */

/* Style the authentication container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0; /* Set your desired background color */
}
.kir 
{
  background-color: #333;
  position: absolute;
  height: 490px;
  width: 650px;
  opacity: 0.44;
  margin-top: 8%;
  margin-left: 46%;
  border-radius: 30px;
}

/* Style the authentication wrapper */
.auth-wrapper {
  text-align: center;
}

/* Style the authentication form */
.auth-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 0 auto;
}

/* Style the authentication heading */
.auth-heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Set your desired text color */
}

/* Style the authentication fields */
.auth-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

/* Style the authentication button */
.auth-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff; /* Set your desired button background color */
  color: #fff; /* Set your desired button text color */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Style the authentication button hover effect */
.auth-btn:hover {
  background-color: #0056b3; /* Set your desired button hover background color */
}

/* Style the authentication links */
.auth-links {
  display: block;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff; /* Set your desired link color */
  font-weight: bold;
}

/* Style the authentication links hover effect */
.auth-links:hover {
  text-decoration: underline;
}
