/* Navbar.css */
.navbar {
 
  color: rgb(1, 1, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 246, 246); /* For browsers that do not support gradients */
  background-image: linear-gradient(rgb(200, 51, 9), rgb(244, 236, 242));
  padding: 10px;
  
  

}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 1.5rem; /* Customize font size */
  font-size: 1.5rem; /* Customize font size */
}

.nav-list {
  font-size: 1.2rem; /* Customize font size */
  list-style: none;
  display: flex;
  font-weight: bolder;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: rgb(12, 11, 11);
  display: flex;
  align-items: center;
  font-size: 1rem; /* Customize font size */
}

.nav-item a:hover {
  text-decoration: underline;
}

/* Style for icons */
.nav-item a svg {
  margin-right: 5px; /* Space between icon and text */
}
