
.regg{
  position: absolute;
  background-image: url("https://images.pexels.com/photos/8369526/pexels-photo-8369526.jpeg?auto=compress&cs=tinysrgb&w=600");
height: 900px;
width:1535px
}.registration-form {
    width: 500px;
    margin:auto;
    padding: 20px;
    border: 1px solid #d30b0b;
    border-radius: 5px;
    text-align: center;
    /* background-color: rgb(172, 164, 160); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
    background-image: linear-gradient(rgb(134, 128, 128), rgb(162, 128, 77));



  
    
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
    color:white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button.register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button.register-button:hover {
    background-color: #0056b3;
  }
  
  p {
    margin-top: 15px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }