/* LocationMap.css */
.location-map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 100%;
  max-width: 1000px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

}
